@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Source+Serif+Pro:wght@300;400&display=swap");

:root {
  --main-color-1: #141c3a;
  --main-color-2: #7510f6;
}
body {
  margin: 0;
  /* font-family: "Abril Fatface", cursive; */
  font-family: "Source Serif Pro", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.my-btn {
  padding: 10px 35px;
  border-radius: 30px;
  border: 2px solid var(--main-color-2);
  background-color: white;
  color: var(--main-color-2);
  font-size: 1.1rem;
  transition: 0.3s;
}
.my-btn:hover {
  background-color: var(--main-color-2);
  color: #fff;
}

.icons {
  font-size: 3rem;
  color: #7510f6;
}

.title-font {
  font-size: 3.5rem;
}
.top-text {
  border-top: 2px solid var(--main-color-2);
  border-bottom: 2px solid var(--main-color-2);
}
.top-section {
  margin: 110px 0px;
}

.image {
  border-top-left-radius: 50% 8.5rem;
  border-top-right-radius: 50% 8.5rem;
  width: 18.5rem;
  height: 27rem;
  padding: 10px;
  background-image: url(./files/img/maharabHossainOpi.jpg);
  border: 2px solid white;
  background-size: cover;
  margin: auto;
}
.mid-about {
  border-top-left-radius: 50% 12rem;
  border-top-right-radius: 50% 12rem;
  padding-top: 250px;
  padding-bottom: 80px;
  background-color: var(--main-color-2);
}
.custom-skills {
  margin-top: -95px;
  border-radius: 15px;
}

.projects {
  background-color: var(--main-color-2);
  border-top-left-radius: 50% 12rem;
  border-top-right-radius: 50% 12rem;
  padding-bottom: 150px;
}
.Projects-start-text {
  color: #fff;
  padding: 50px 20px;
  background-color: var(--main-color-1);
  margin: auto;
  border-radius: 15px;
}
.skills-main {
  padding-bottom: 30px;
}
.custom-card {
  background-color: var(--main-color-1) !important;
  color: #fff;
  padding-top: 20px;
  border-radius: 15px !important;
}

.the-nav {
  backdrop-filter: blur(15px);
}
.custom-contect-text {
  background-color: var(--main-color-1);
  margin-bottom: 25px;
  margin-top: -130px;
  padding: 50px 20px;
  border-radius: 15px;
  text-align: center;
  color: #fff;
}
.nav-items {
  color: var(--main-color-2) !important;
  font-weight: bold;
  background-color: #fff;
  border-radius: 15px;
  transition: 0.4s;
  margin: 0px 20px;
}
.nav-items:hover {
  color: #fff !important;
  font-weight: bold;
  background-color: var(--main-color-2);
}
.img-style {
  border-radius: 15px;
  border: 15px solid var(--main-color-1);
}

/* ============================================== */
/* this is my name animation in openning the lage  */
/* ============================================== */

.logo-container {
  background-color: var(--main-color-1);
  width: 100%;
  height: 100vh;
}
#logo {
  position: absolute;
  width: 50vw;
  height: 50vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#logo path:nth-child(2) {
  stroke-dasharray: 1033px;
  stroke-dashoffset: 1033px;
  animation: line-animate 2s ease forwards;
}
#logo path:nth-child(3) {
  stroke-dasharray: 551.5036010742188px;
  stroke-dashoffset: 551.5036010742188px;
  animation: line-animate 2s ease forwards 0.4s;
}
#logo path:nth-child(4) {
  stroke-dasharray: 552.9600219726562px;
  stroke-dashoffset: 552.9600219726562px;
  animation: line-animate 2s ease forwards 0.8s;
}
#logo path:nth-child(5) {
  stroke-dasharray: 551.5042724609375px;
  stroke-dashoffset: 551.5042724609375px;
  animation: line-animate 2s ease forwards 1.2s;
}

#logo path:nth-child(6) {
  stroke-dasharray: 316.0166015625px;
  stroke-dashoffset: 316.0166015625px;
  animation: line-animate 2s ease forwards 1.6s;
}
#logo path:nth-child(7) {
  stroke-dasharray: 551.5044555664062px;
  stroke-dashoffset: 551.5044555664062px;
  animation: line-animate 2s ease forwards 2s;
}
#logo path:nth-child(8) {
  stroke-dasharray: 620.3258056640625px;
  stroke-dashoffset: 620.3258056640625px;
  animation: line-animate 2s ease forwards 2.4s;
}
@keyframes line-animate {
  to {
    stroke-dashoffset: 0;
  }
}
