@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Source+Serif+Pro:wght@300;400&display=swap");

:root {
  --main-color-1: #141c3a;
  --main-color-2: #7510f6;
}
body {
  margin: 0;
  /* font-family: "Abril Fatface", cursive; */
  font-family: "Source Serif Pro", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.my-btn {
  padding: 10px 35px;
  border-radius: 30px;
  border: 2px solid var(--main-color-2);
  background-color: white;
  color: var(--main-color-2);
  font-size: 1.1rem;
  transition: 0.3s;
}
.my-btn:hover {
  background-color: var(--main-color-2);
  color: #fff;
}

.icons {
  font-size: 3rem;
  color: #7510f6;
}

.title-font {
  font-size: 3.5rem;
}
.top-text {
  border-top: 2px solid var(--main-color-2);
  border-bottom: 2px solid var(--main-color-2);
}
.top-section {
  margin: 110px 0px;
}

.image {
  border-top-left-radius: 50% 8.5rem;
  border-top-right-radius: 50% 8.5rem;
  width: 18.5rem;
  height: 27rem;
  padding: 10px;
  background-image: url(./files/img/img1.jpg);
  border: 2px solid white;
  background-size: cover;
  margin: auto;
}
.mid-about {
  border-top-left-radius: 50% 12rem;
  border-top-right-radius: 50% 12rem;
  padding-top: 250px;
  padding-bottom: 80px;
  background-color: var(--main-color-2);
}
.custom-skills {
  margin-top: -95px;
  border-radius: 15px;
}

.projects {
  background-color: var(--main-color-2);
  border-top-left-radius: 50% 12rem;
  border-top-right-radius: 50% 12rem;
  padding-bottom: 150px;
}
.Projects-start-text {
  color: #fff;
  padding: 50px 20px;
  background-color: var(--main-color-1);
  margin: auto;
  border-radius: 15px;
}
.skills-main {
  padding-bottom: 30px;
}
.custom-card {
  background-color: var(--main-color-1) !important;
  color: #fff;
  padding-top: 20px;
  border-radius: 15px !important;
}

.the-nav {
  backdrop-filter: blur(15px);
}
.custom-contect-text {
  background-color: var(--main-color-1);
  margin-bottom: 25px;
  margin-top: -130px;
  padding: 50px 20px;
  border-radius: 15px;
  text-align: center;
  color: #fff;
}
.nav-items {
  color: var(--main-color-2) !important;
  font-weight: bold;
  background-color: #fff;
  border-radius: 15px;
  transition: 0.4s;
  margin: 0px 20px;
}
.nav-items:hover {
  color: #fff !important;
  font-weight: bold;
  background-color: var(--main-color-2);
}
.img-style {
  border-radius: 15px;
  border: 15px solid var(--main-color-1);
}
